/* Custom Stylesheet */

/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
    
    color: rgb(238, 227, 227);
}

.sidenav-trigger {
    color: #26a69a;
}

nav {
    background-color: rgba(0, 0, 0, 0.1);
    height: 70px;
}

@media only screen and (max-width: 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }
    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width: 600px) {
    #index-banner .section {
        top: 0;
    }
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

#myname {
    font-family: 'Parisienne', cursive;
    margin: 0;
}

#biojibberish {
    font-family: 'Allan', cursive;
    font-size: 18px;
    text-align: center;
    font-weight: 900;
    -webkit-mask-image: -webkit-linear-gradient(right, rgb(121, 116, 187) 40%, rgba(255, 255, 255, 0) 120%);
}

html {
    background-image: url("https://chainimage.com/images/cool-pink-flower-backgrounds-wallpaper-wallpaper-hd-background.jpg");
    background-size: 1160px 733px;
    color: white;
}

/* .image-blurred-edge {
    width: 152px;
    height: 252px;
    border-radius: 5px;
    box-shadow: 0 0 8px 8px white inset;
} */

.img-thumbnail {
    width: 125px;
    height: 170px;
    border-radius: 15px;
    
}

img {
    border-radius: 15px;
}